<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #eee;
			}
			#app {
				position: absolute;
				width: 100%;
				height: 100%;
			}
			text {
				font-family: 'Muli', sans-serif;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div id="app"></div>
	</body>
</html>
